* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    background-color: #222831;
    font-family: Inter, sans-serif;
    color: #eeeeee99;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: #00adb5;
}

.content {
    padding: 2rem 0;
    max-width: 800px;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.field {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

#cep_input {
    width: 150px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid transparent;
}

#cep_input:focus {
    outline: none;
    box-shadow: 0px 0px 5px #00adb5;
    border: 1px solid #00adb5;
}

.button {
    height: 30px;
    width: fit-content;
    padding: 0 1rem;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    background-color: #00adb5;
    color: #eee;
}

.button:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

.adress p {
    display: inline-block;
}

.sortable {
    cursor: pointer;
}

.arrow_disabled {
    filter: brightness(0.6);
}

.arrow_hidden {
    display: none;
}

th img {
    vertical-align: middle;
    pointer-events: none;
    width: 25px;
}
